<div class="home flex flex-col grow flex-1 h-full">
  <div
    class="text-sm font-medium text-center items-center text-gray-500 border-b border-gray-300"
  >
    <ul class="flex flex-wrap -mb-px items-center">
      <li
        class="mr-2"
        *ngFor="let tab of tabs; let i = index"
        (click)="selectTab(i)"
      >
        <button
          type="button"
          class="inline-block p-4 rounded-t-lg w-48"
          [ngClass]="{
            'active text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500':
              activeTab === i,
            'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':
              activeTab !== i
          }"
          href="#"
        >
          {{ tab.title }}
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="activeTab === 0" class="flex flex-col flex-1 h-full">
    <!-- <div class="m-6 border-teal-500 border border-l-4 py-4 px-6 leading-8">
      {{ messageBox?.data?.message }}
      <ul>
        <li>
          <a
            [href]="messageBox?.data?.url"
            target="_blank"
            class="font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
            >{{ messageBox?.data?.url_message }}</a
          >
        </li>
      </ul>
    </div> -->

    <div class="flex flex-1 h-full m-8">
      <div class="flex flex-col w-1/2 mr-4 flex-1 h-full border rounded-md p-6">
        <div class="text-2xl font-medium mb-8">Recent activities</div>
        <div class="w-full bg-gray-200 height-textbox shrink-0 mb-4"></div>
        <div class="w-1/2 bg-gray-200 height-textbox shrink-0 mb-10"></div>

        <img src="https://i.ibb.co/VYz0PQ5/1.png">
        <img src="https://i.ibb.co/sVKcLLh/2.png" class="my-10">
        <img src="https://i.ibb.co/K0r5j8m/3.png">
      </div>

      <div
        class="flex flex-col w-1/2 ml-4 flex-1 h-full border rounded-md p-6"
      >
        <div class="text-2xl font-medium mb-8">Data overview</div>
        <div class="w-full bg-gray-200 height-textbox shrink-0 mb-4"></div>
        <div class="w-1/2 bg-gray-200 height-textbox shrink-0"></div>

        <a
          href="https://data.bpa.test.biocommons.org.au/organization/threatened-species"
          target="_blank"
          class="mb-8 mt-10"
        >
          <button
            class="p-4 border-gray-300 border rounded-full hover:bg-gray-100"
          >
            See all {{ totalDatasets }} datasets
            <fa-icon [icon]="faArrowRight" size="lg" class="ml-2"></fa-icon>
          </button>
        </a>

        <div class="">
          <div class="font-medium mb-4">Questions</div>
          <ul>
            <li>
              <a
                [href]="messageBox?.data?.url"
                target="_blank"
                class="font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
                >How to download data?</a
              >
            </li>
            <li>
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
                >What species are included?</a
              >
            </li>
            <li>
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
                >Which populations are they from?</a
              >
            </li>
          </ul>
        </div>

        <div class="flex flex-col grow border rounded-md mt-8 h-full">
          <div class="text-xl font-medium tracking-tight text-gray-900 p-4">
            Last modified data
          </div>
          <div class="divide-y">
            <div *ngFor="let dataset of datasets" class="p-4 leading-6">
              <a
                [href]="dataset.url"
                target="_blank"
                class="font-semibold hover:text-indigo-500 hover:underline"
                >{{ dataset.title }}</a
              >
              <div class="mb-1">{{ dataset.notes }}</div>
              <span *ngIf="dataset.size" class="mr-4">{{ dataset.size }}</span>
              <span
                *ngFor="let format of dataset.formats"
                class="relative mr-2 z-10 rounded-md bg-gray-200 px-2 py-1 text-xs font-semibold text-gray-600"
                [ngClass]="{
                  'bg-green-700': format === 'XLSX',
                  'bg-yellow-700': format === 'CSV',
                  'bg-orange-700': format === 'XML',
                  'bg-red-700': format === 'PDF',
                  'text-white':
                    format === 'PDF' ||
                    format === 'CSV' ||
                    format === 'XML' ||
                    format === 'XLSX'
                }"
                >{{ format }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeTab === 2" class="flex flex-col flex-1 h-ful p-8 pr-60">
    <div class="flex">
      <div class="w-80 shrink-0 mr-12">
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="true"
            class="mat-elevation-z0 border rounded-md"
          >
            <mat-expansion-panel-header
              >Genome assembly</mat-expansion-panel-header
            >
            <button
              *ngFor="let guide of guides?.data; index as i"
              class="px-6 py-4 hover:bg-gray-100 text-left w-full"
              [class.bg-gray-100]="contentIndex === i"
              (click)="selectContent(i)"
            >
              {{ guide.title }}
            </button>
          </mat-expansion-panel>
          <mat-expansion-panel
            *ngFor="let item of accordionItems"
            disabled
            class="mat-elevation-z0 border rounded-md"
          >
            <mat-expansion-panel-header>
              {{ item.title }}
            </mat-expansion-panel-header>
            <p>{{ item.content }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="flex flex-col overflow-x-auto overflow-auto">
        <div class="mb-16 text-4xl font-medium">
          {{ guides.data[contentIndex].title }}
        </div>
        <div class="test" [innerHTML]="guides.data[contentIndex].content"></div>
      </div>
    </div>
  </div>

  <div *ngIf="activeTab === 1" class="flex p-8">
    <div class="w-3/4">
      <div
        class="rounded-md border-gray-200 border p-6 flex w-full items-center"
      >
        <img
          src="https://usegalaxy.org.au/favicon.ico"
          class="h-4 w-auto"
        />
        <a
          href="https://galaxy.test.biocommons.org.au/published/workflow?id=f2db41e1fa331b3e"
          target="_blank"
          class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
          >Galaxy Australia Workflow: PacBio HiFi genome assembly using hifiasm
          v2.1</a
        >
      </div>

      <div
        class="rounded-md border-gray-200 border p-6 flex w-full my-8 items-center"
      >
        <img
          src="https://usegalaxy.org.au/favicon.ico"
          class="h-4 w-auto"
        />
        <a
          href="https://galaxy.test.biocommons.org.au/published/workflow?id=1cd8e2f6b131e891"
          target="_blank"
          class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
          >Galaxy Australia Workflow: Purge duplicates from hifiasm assembly
          v1.0</a
        >
      </div>

      <div
        class="rounded-md border-gray-200 border p-6 flex w-full items-center"
      >
        <img
          src="https://galaxy.test.biocommons.org.au/favicon.ico"
          class="h-4 w-auto"
        />
        <a
          href="https://galaxy.test.biocommons.org.au/published/workflow?id=f597429621d6eb2b"
          target="_blank"
          class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
          >Galaxy Australia Workflow: BAM to FASTQ + QC v1.0</a
        >
      </div>
    </div>

    <div
      class="p-8 border rounded-md border-gray-200 w-1/4 ml-8 flex flex-col items-center justify-center"
    >
      Can't find what you need?
      <a
        href="https://australianbiocommons.github.io/2_tools.html"
        target="_blank"
        class="mt-8"
      >
        <button
          class="p-4 border-gray-300 border rounded-full hover:bg-gray-100"
        >
          Tool Finder
          <fa-icon [icon]="faArrowRight" size="lg" class="ml-2"></fa-icon>
        </button>
      </a>
    </div>
  </div>

  <div *ngIf="activeTab === 3" class="flex flex-col flex-1 h-full p-8">
    <div class="rounded-md border-gray-200 border p-6 flex w-full items-center">
      <img
        src="https://apollo-portal.genome.edu.au/favicon.ico"
        class="h-4 w-auto"
      />
      <a
        href="https://apollo-portal.genome.edu.au"
        target="_blank"
        class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
        >Apollo Portal</a
      >
    </div>

    <div
      class="rounded-md border-gray-200 border p-6 flex w-full my-8 items-center"
    >
      <img
        src="https://data.bpa.test.biocommons.org.au/favicon.ico"
        class="h-4 w-auto"
      />
      <a
        href="https://data.bpa.test.biocommons.org.au/"
        target="_blank"
        class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
        >Bioplatforms Australia Data Portal</a
      >
    </div>

    <div class="rounded-md border-gray-200 border p-6 flex w-full items-center">
      <img
        src="https://galaxy.test.biocommons.org.au/favicon.ico"
        class="h-4 w-auto"
      />
      <a
        href="https://galaxy.test.biocommons.org.au/"
        target="_blank"
        class="ml-6 font-medium text-indigo-600 hover:text-indigo-500 hover:underline leading-8"
        >Galaxy Australia</a
      >
    </div>
  </div>
</div>

<!-- <div class="flex justify-center">
  <div
    class="mt-16 grid grid-cols-1 gap-x-12 gap-y-12 sm:grid-cols-2 sm:gap-y-24 lg:gap-x-48"
  >
    <div>
      <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-6">
        Sequence data type
      </h2>
      <div class="divide-y">
        <div class="py-2">
          illumina-shortread
          <span
            class="relative ml-1 z-10 rounded-full bg-gray-200 px-2 py-0.5 text-xs font-medium text-gray-600"
            >332</span
          >
        </div>
        <div class="py-2">
          pacbio-hifi
          <span
            class="relative ml-1 z-10 rounded-full bg-gray-200 px-2 py-0.5 text-xs font-medium text-gray-600"
            >30</span
          >
        </div>
        <div class="py-2">
          illumina-ddrad
          <span
            class="relative ml-1 z-10 rounded-full bg-gray-200 px-2 py-0.5 text-xs font-medium text-gray-600"
            >15</span
          >
        </div>
        <div class="py-2">
          illumina-hic
          <span
            class="relative ml-1 z-10 rounded-full bg-gray-200 px-2 py-0.5 text-xs font-medium text-gray-600"
            >6</span
          >
        </div>
        <div class="py-2 border-b">
          genome-assembly
          <span
            class="relative ml-1 z-10 rounded-full bg-gray-200 px-2 py-0.5 text-xs font-medium text-gray-600"
            >1</span
          >
        </div>
        <div></div>
      </div>
    </div>

    <div>
      <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-6">
        Resources
      </h2>
      <a
        href="https://australianbiocommons.github.io/how-to-guides/"
        class="font-medium text-indigo-600 hover:text-indigo-500 underline"
        >Australian BioCommons How-To-Guides</a
      >
    </div>
  </div>
</div> -->

<!-- <section class="main-content">
  <div class="container">
    <app-hero [article]="hero"></app-hero>
    <div class="articles-grid">
      <ng-container *ngIf="articles">
        <app-article
          *ngFor="let article of articles; let articleIndex = index"
          [article]="article"
          [bordered]="articleIndex !== articles.length - 1"
        ></app-article>
      </ng-container>
    </div>
  </div>
</section> -->
